.largeCard {
    background-color: var(--light-gray-1);
    border-radius: .2rem;
    border: 0.5px solid var(--light-gray-4);
    box-shadow: .1rem .15rem .1rem rgba(0, 0, 0, 0.329);
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    padding: 3rem;
}